@media screen and (max-width: 600px) {
    header, main{
        margin: 0 40px;
        width: 335px;
    }
    nav {
        flex-direction: column;
    }
    .banner{
        width: 335px;
        height: 483px;
    }
    .description{
        padding: 5px;
        margin: 5px 0;
    }
    .banner h1{
        padding: 10px;
        margin: 0 10px;
    }
    .input-section{
        margin: 0 17px;
        padding: 5px;
    }
    .input-section input{
        margin: 5px;
    }
    .btn{
        padding: 10px 60px;
    }
    .tour, .destination-img-row1, .destination-img-row2, .destination-img-row3, .hotel-map, .newsletter{
        flex-direction: column;
    }
    .tour-img img{
        width: 335px;
        height: 342px;
    }
    
    .maldives, .indonesia, .srilanka, .north-america,
    .kashmir, .bangladesh, .bandarban {
        width: 335px;
        height: 176px;
    }
    .maldives h2, .indonesia h2, .srilanka h2, .north-america h2,
    .kashmir h2, .bangladesh h2, .bandarban h2{
        padding-top: 75px;
        font-size: 20px;
    }
    .price, .hotel, .map{
        width: 335px;
        height: 260px;
        padding: 10px;
    }
    .satorini, .satorini-2{
        width: 335px;
        height: 500px;
    }
    .satorini-box, .satorini-box-2{
        width: 303px;
        height: 297px;
    }
    .satorini-box-2, .satorini-box{
        padding: 3px;
        left: 5px;
        top: 185px;
    }
    .satorini-box-2 h4, .satorini-box-2 h5, .satorini-box h4, .satorini-box h5 {
        margin: 4px 0;
    }
    .btn1{
        margin-left: 55px;
    }
    .simple-place{
        flex-direction: column;
    }
    .place-video img{
        width: 355px;
        height: 200px;

    }
    .news{
        width: 335px;
        height: 353px;
        padding: 10px;
    }
    .news-discount{
        width: 355px;
        height: 300px;
    }
    .travel-com{
        width: 214.023px;
        height: 79.268px;
        top: 160px;
        left: 140px;

    }
    .travel-com h2{
        font-size: 20px;
    }
    .travel-com h6{
        font-size: 15px;
    }
   

 }
